/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Amatic+SC:wght@400;700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* Body of the page */
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "alegreya sans", sans-serif;
    padding-top: 20px;
}


/* Header of the page */
header {
    font-family: "Amatic SC";
}


img {
    max-width: 650px;
    display: block;
    margin: auto;
}


nav {
    background: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align:top;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 1rem;
    display: none;
}

.current-page {
    font-weight: bold;
}


nav a {
    color: black;
    font-size: 54px;

}


nav a:hover {
    color: #344e41;
    font-weight: 900;


}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}


#nav-toggle {
    display: none;
}


.nav-toggle-label {
    font-size: 2rem;
}


.menu {
    display: inline-flex;
    align-items: center;
    list-style: none;
    background-color: white;
}


.menu li {
    padding: 0px 10px;
    margin-right: 20px;
}


/* Main of the page */
main {
    background-color: white;
    flex: 1 0 auto;
    margin-top: 47px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Bitter';
    font-size: 32px;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
    color: #344e41;
}

#welcome {
    padding: 0 15% 1% 15%;
    text-align: center;
}

#introduction {
    padding: 0 30% 0% 30%;
    line-height: 25px;
    text-align: center;
}

#about-me-image {
    padding-bottom: 2%;
    padding-top: 3%;
    border-radius: 50%;
    animation: growShrink 10s infinite;
}

@keyframes growShrink {
    0%, 100% {
        transform: scale(1); /* Start and end at original size */
    }
    50% {
        transform: scale(1.1); /* Grow to 110% of original size */
    }
}

#testimonials {
    padding: 0 15% 1% 15%;
    text-align: center;
}

#testimonials ~ p {
    padding: 0 30% 2% 30%;
    line-height: 25px;
}

#testimonials ~  p:nth-child(even) {
    text-align: right;
}

#testimonials ~  p:nth-child(odd) {
    text-align: left;
}

/* Footer of the page */
footer {
    background-color:  #344e41;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

footer ul {
    display: flex;
}

footer ul li {
    margin: 0 15px;
}


footer ul li i {
    color: white;
    font-size: 30px;
    padding: 5%;
}

footer ul li i:hover {
    color: black;
    font-weight: 900;


}

/* Contact-us page */

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    max-width: 600px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.contact-left textarea,
.contact-inputs {
    width: 400px;
    outline: none;
    padding-left: 20px;
    font-weight: 500;
    color: black;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    transition: border 0.3s;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
}

.contact-inputs {
    height: 50px;
    border-radius: 50px;
}

.contact-inputs:focus,
.contact-left textarea:focus {
    border: 2px solid #344e41;
}

.contact-inputs::placeholder,
.contact-left textarea::placeholder {
    color: #adb5bd;
    font-family: 'Lato', sans-serif;
}


.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    gap: 10px;
    border-radius: 20px;
    background-color:  #344e41;
    font-weight: 200;
    color: white;
}

.contact-left-title {
    text-align: center;
    width: 100%;
}

.contact-left-title ~ h2 {
   margin:0;
}

.contact-right {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.contact-right img {
    max-width: 30%;
    height: auto;
}



/*Media query: mobile devices (up to 600px) */


@media screen and (max-width: 600px) {
    
    img {
        width: 100%;
    }

    #logo {
        display: flex;
        justify-content: center;
        padding-top: 0;
    }
    
    nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 150px;
        padding: 15px 20px;
        background: white;
        box-shadow: 0 2px 2px #3a3a3a;
        z-index: 20;
    }
    
    nav a {
        color: black;
        font-size: 32px;
    
    }

    #nav-toggle:checked ~ nav {
        display: block;
    }


    .menu {
        flex-direction: column;
        align-items: flex-start;
    }


    .menu li {
        margin: 20;
        padding: 1px 1px;
        font-size: 5px;
    }


    .nav-toggle-label {
        display: block;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 0;
        margin-top: 100px;
    }


    main {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
        padding: 0 10% 0 10%;
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
        padding-bottom: 2%;
    }

    #welcome, #introduction, #testimonials, #testimonials ~ p, #about-me {
        padding-right: 5%;
        padding-left: 5%; 
    }

    #welcome {
        padding-top: 5%;
    }

    #testimonials ~ p {
        padding-bottom: 5%;
    }
   
    /* Footer of the page */
    footer {

        position: relative;
        z-index: 1;
        width: 100%;
    }

    #about-me-image {
        padding-top: 35px;
        padding-bottom: 35px;
    }
     
    .contact-form {
        max-width: 100%;
        padding: 10px;
        margin: 0 auto;
    }

    .contact-left {
        width: 100%;
        align-items: center;
        padding: 0;
        gap: 10px;
    }

    .contact-inputs {
        width: 100%;
        padding-left: 15px;
    }

    .contact-left textarea {
        width: 100%;
        padding: 15px;
    }

    .contact-left button {
        width: auto;
        padding: 15px 30px;
        font-size: 14px;
        text-align: center;
        align-self: flex-start;
    }

    .contact-right {
        width: 100%;
        text-align: center;
    }

    .contact-right img {
        max-width: 50%;
        height: auto;
        margin-top: 20px;
    }

}

/* Media query: tablets (600px to 1024px) */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    #welcome, #introduction, #testimonials, #testimonials ~ p, #about-me {
        padding-right: 10%;
        padding-left: 10%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {


    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }


    #menu {
        display: flex;
    }


    #menu>li {
        padding-left: 1rem;
    }


    .nav-toggle-label {
        display: none;
    }

}